{% extends "layouts/base.html" %}
{% set project = "Home/About Me" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-black"><strong>Info About Me & My Team</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='TheMelodicBlueCover.jpeg') }}" alt=" Loading . . ." height="250" >
                    <div class="card-body">
                    <h5 class="card-title"> Who is <mark> Joshua Williams</mark>?</h5>
                    <p class="card-text">
                        <ol>
                            <li>I Enjoy Hanging out with my friends and family.</li>
                            <li>Dogs are my favorite pet.</li>
                            <li>I am currently an 11th grader at Del Norte High School</li>
                            <li>I am Hoping to Lear a Lot in Mr.Mortensons Class.</li>
                            <li>I Like playing Video Games</li>
                        </ol>
                    </p>
                    </div>
                </div>
            </div>   
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='TheMelodicBlueCover.jpeg') }}" alt=" Loading . . ." height="250" >
                    <div class="card-body">
                    <h5 class="card-title"> My <mark> APCSP Team </mark>!</h5>
                    <p class="card-text">
                        <ol>
                            <li>Ryan as Scrum Master</li>
                            <li>Jeffery as Backend</li>
                            <li>Eli as DevOps</li>
                            <li>Chris as Backend</li>
                            <li>Khalid as Frontend</li>
                            <li>Josh (I) as Frontend</li>
                        </ol>
                    </p>
                    </div>
                </div>
            </div>     
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='TheMelodicBlueCover.jpeg') }}" alt=" Loading . . ." height="250" >
                <div class="card-body">
                <h5 class="card-title"> Insider Info <mark> About My Team </mark>.</h5>
                <p class="card-text">
                    <ol>
                        <li>Ryan is in Marching Band.</li>
                        <li>Chris has a nice truck.</li>
                        <li>Khalid plays football.</li>
                        <li>Eli has a girlfriend.</li>
                        <li>Jeffery is good at chess.</li>
                    </ol>
                </p>
                </div>
            </div>
        </div>     
    {% endblock %}


{% block background %}
{% endblock %}