<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Learning" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Review Progress</strong></h1>
        <p class="text-secondary"> From Joshua Williams </p>
        <p class="text-secondary"> My Learning From Week 1 - Week 3, These last couple of weeks I haven't learnt much bc I was sick. </p>
        <p class="text-secondary"> <table>
            <tr>
              <th>Week</th>
              <th>Week Name</th>
              <th>Learning</th>
            </tr>
            <tr>
              <td>| Week 1 </td>
              <td>| Tool Setup </td>
              <td>| How to authorize my computer and install things.   |</td>
            </tr>
            <tr>
              <td>| Week 2 </td>
              <td>| Intro to Python </td>
              <td>| How to setup VsCode, Basics of Github and VsCode.  |</td>
            </tr>
            <tr>
                <td>| Week 3 </td>
                <td>| Data Abstract </td>
                <td>| The Basics of Java through block code. This was fun. |</td>
              </tr>
              <tr>
          </table> </p>
    </div>x
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
